Repository Shinhan-MohaeMoyong/MohaeMoyong, pull requests merged in 2025-08, with the labels that each got.

#116 refactor/#115 계좌 저축 근황 그래프 응답 수정
  server/src/main/java/shinhan/mohaemoyong/server/service/AccountService.java
Labels: 성현, feature, Server

#122 modify : 계좌 이체
  server/src/main/java/shinhan/mohaemoyong/server/controller/AccountController.java
  server/src/main/java/shinhan/mohaemoyong/server/dto/DepositRequest.java
  server/src/main/java/shinhan/mohaemoyong/server/service/AccountService.java
Labels: 성현, modify, Server

#124 refactor : 일정 완료
  server/src/main/java/shinhan/mohaemoyong/server/controller/PlanController.java
  server/src/main/java/shinhan/mohaemoyong/server/exception/GlobalExceptionHandler.java
  server/src/main/java/shinhan/mohaemoyong/server/service/PlanService.java
Labels: 성현, refactor, Server

#134 fix : 계좌 상세조회 요청dto
  server/src/main/java/shinhan/mohaemoyong/server/controller/AccountController.java
  server/src/main/java/shinhan/mohaemoyong/server/service/AccountListServive.java
Labels: 성현, fix, Server

#136 refactor : 계좌 상세보기dto
  server/src/main/java/shinhan/mohaemoyong/server/dto/AccountDetailResponse.java
Labels: 성현, refactor, Server

#140 fix : 친구관계
  server/src/main/java/shinhan/mohaemoyong/server/domain/FriendLastSeen.java
Labels: 성현, fix, Server

#144 modify : 반복일정 예외 처리 수정
  server/src/main/java/shinhan/mohaemoyong/server/service/PlanService.java
Labels: 가은, modify, Server

#146 feature : 계좌 불러오기 및 1원 송금 인증 연계
  server/src/main/java/shinhan/mohaemoyong/server/adapter/deposit/DemandDepositApiAdapter.java
  server/src/main/java/shinhan/mohaemoyong/server/adapter/deposit/dto/request/InquireDemandDepositAccountRequest.java
  server/src/main/java/shinhan/mohaemoyong/server/adapter/deposit/dto/response/CreateDemandDepositAccountResponse.java
  server/src/main/java/shinhan/mohaemoyong/server/controller/AccountController.java
  server/src/main/java/shinhan/mohaemoyong/server/controller/OneWonAuthController.java
  server/src/main/java/shinhan/mohaemoyong/server/domain/Accounts.java
  server/src/main/java/shinhan/mohaemoyong/server/dto/AccountCreateRequest.java
  server/src/main/java/shinhan/mohaemoyong/server/dto/AccountVerificationRequest.java
  server/src/main/java/shinhan/mohaemoyong/server/dto/SimpleAccountListResponse.java
  server/src/main/java/shinhan/mohaemoyong/server/service/AccountListServive.java
  server/src/main/java/shinhan/mohaemoyong/server/service/AccountService.java
  server/src/main/java/shinhan/mohaemoyong/server/service/OneWonAuthService.java
Labels: 성현, feature, Server

#148 fix : dto에 생성자
  server/src/main/java/shinhan/mohaemoyong/server/dto/AccountCreateRequest.java
  server/src/main/java/shinhan/mohaemoyong/server/dto/AccountDetailResponse.java
  server/src/main/java/shinhan/mohaemoyong/server/dto/AccountUpdateRequest.java
  server/src/main/java/shinhan/mohaemoyong/server/dto/AccountVerificationRequest.java
  server/src/main/java/shinhan/mohaemoyong/server/dto/DepositRequest.java
  server/src/main/java/shinhan/mohaemoyong/server/dto/SearchAccountResponseDto.java
  server/src/main/java/shinhan/mohaemoyong/server/dto/SimpleAccountListResponse.java
Labels: 성현, fix, Server
